@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Playfair+Display:wght@700&display=swap");
@keyframes rotater {
  0% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: rotate(15deg) scale(1.3);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #1b1f24;
}

section.top-most {
  width: 100%;
  background-color: #001d3d;
  padding: 1rem 0;
}
section.top-most .inner-container {
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  section.top-most .inner-container {
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1400px) {
  section.top-most .inner-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 600px) {
  section.top-most .inner-container {
    justify-content: center;
  }
}
section.top-most .inner-container p {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.25rem;
}
@media (max-width: 600px) {
  section.top-most .inner-container p {
    text-align: center;
  }
}
section.top-most .inner-container p span {
  color: #65c979;
}
section.top-most .inner-container .social-icons {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}
@media (max-width: 600px) {
  section.top-most .inner-container .social-icons {
    display: none;
  }
}
section.top-most .inner-container .social-icons .icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-decoration: none;
  background-color: #ffffff;
  transition: 0.25s ease;
}
section.top-most .inner-container .social-icons .icon:hover {
  transform: translateY(-3px);
}
section.top-most .inner-container .social-icons .icon i {
  color: #001d3d;
  font-size: 0.75rem;
}

section.logo-icons {
  width: 100%;
  padding: 1rem 0;
  background-color: #ffffff;
  z-index: 10;
  position: relative;
}
section.logo-icons .inner-container {
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
@media (max-width: 1400px) {
  section.logo-icons .inner-container {
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1400px) {
  section.logo-icons .inner-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
section.logo-icons .inner-container .toggle {
  display: none;
}
@media (max-width: 1400px) {
  section.logo-icons .inner-container .toggle {
    display: block;
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.logo-icons .inner-container .toggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #001d3d;
    transform: translateY(-12px);
    box-shadow: 0 12px #001d3d;
    transition: 0.25s ease;
  }
  section.logo-icons .inner-container .toggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #001d3d;
    transform: translateY(12px);
    transition: 0.25s ease;
  }
}
section.logo-icons .inner-container .logo {
  max-width: 200px;
  max-height: 100px;
}
section.logo-icons .inner-container .icon-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  section.logo-icons .inner-container .icon-text {
    display: none;
  }
}
section.logo-icons .inner-container .icon-text .single {
  display: grid;
  grid-template-columns: 65px auto;
  padding: 0 1.15rem;
  border-right: 2px dashed #b1b1b1;
}
section.logo-icons .inner-container .icon-text .single:first-child {
  padding-left: 0;
}
section.logo-icons .inner-container .icon-text .single:last-child {
  grid-template-columns: 50px auto;
  border-right: none;
  padding-right: 0;
}
section.logo-icons .inner-container .icon-text .single i {
  font-size: 3rem;
  color: #65c979;
}
section.logo-icons .inner-container .icon-text .single .texts {
  color: #001d3d;
}
section.logo-icons .inner-container .icon-text .single .texts span {
  font-weight: 400;
  font-size: 1rem;
}
section.logo-icons .inner-container .icon-text .single .texts p {
  font-family: "Playfair Display", serif;
  font-size: 1.65rem;
  line-height: 70%;
}
@media (max-width: 1400px) {
  section.logo-icons .inner-container.active .toggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #000000;
  }
  section.logo-icons .inner-container.active .toggle::after {
    transform: rotate(315deg);
  }
}

section.navigation {
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  position: relative;
  z-index: 10;
}
@media (max-width: 1400px) {
  section.navigation {
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1400px) {
  section.navigation {
    display: none;
  }
}
section.navigation div.nav-container {
  background-color: #001d3d;
  display: flex;
  justify-content: center;
}
section.navigation div.nav-container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
section.navigation div.nav-container nav ul li {
  list-style-type: none;
  position: relative;
}
section.navigation div.nav-container nav ul li a {
  font-weight: 400;
  font-size: 1.25rem;
  display: block;
  color: #ffffff;
  padding: 1.5rem 0;
  text-decoration: none;
  border-bottom: 6px solid rgba(101, 201, 121, 0);
  transition: 0.25s ease;
}
section.navigation div.nav-container nav ul li a:hover {
  border-bottom: 6px solid #65c979;
}
section.navigation div.nav-container nav ul li a:not(:only-child):after {
  content: " ▼";
  font-size: 0.85rem;
}
section.navigation div.nav-container nav ul li i {
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
}
section.navigation div.nav-container nav ul li > ul {
  display: none;
  position: absolute;
  left: 0;
  flex-direction: column;
  gap: 0;
  align-items: baseline;
  padding: 1.5rem;
  width: -moz-max-content;
  width: max-content;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #ffffff;
  transition: display 0.25s ease-in-out;
}
section.navigation div.nav-container nav ul li > ul li {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
section.navigation div.nav-container nav ul li > ul li a {
  color: #1b1f24;
  padding: 0.75rem 0;
  display: block;
  transition: 0.25s ease;
}
section.navigation div.nav-container nav ul li > ul li a:hover {
  border-bottom-color: #001d3d;
}
section.navigation div.nav-container nav ul li:hover > ul {
  display: flex;
}
section.navigation a.appointment {
  height: 100%;
  width: 100%;
  background-color: #65c979;
  color: #001d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.25s ease;
}
section.navigation a.appointment i {
  margin-left: 0.75rem;
  transition: 0.25s ease;
}
section.navigation a.appointment:hover {
  background-color: #001d3d;
  color: #ffffff;
}
section.navigation a.appointment:hover i {
  transform: translateX(0.5rem);
  color: #ffffff;
}

.mobile-menu {
  display: none;
}
@media (max-width: 1400px) {
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: -20rem;
    height: 100vh;
    overflow-y: auto;
    background-color: #ffffff;
    width: 20rem;
    height: 100vh;
    padding: 1.5rem;
    transition: left 0.25s ease;
    /* width */
    /* Track */
    /* Handle */
  }
  .mobile-menu.open {
    left: 0;
    transition: left 0.25s ease;
  }
  .mobile-menu::-webkit-scrollbar {
    width: 0.75rem;
  }
  .mobile-menu::-webkit-scrollbar-track {
    background: #eef0f2;
  }
  .mobile-menu::-webkit-scrollbar-thumb {
    background: #dadee1;
  }
  .mobile-menu .spacer {
    height: 2rem;
  }
  .mobile-menu .close-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
@media (max-width: 1400px) and (max-width: 1400px) {
  .mobile-menu .close-icon {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1400px) {
  .mobile-menu .close-icon i {
    color: #001d3d;
    font-size: 2rem;
    cursor: pointer;
  }
  .mobile-menu .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
@media (max-width: 1400px) and (max-width: 1400px) {
  .mobile-menu .logo {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1400px) {
  .mobile-menu .logo img {
    width: 100%;
  }
  .mobile-menu form {
    width: 100%;
    display: grid;
    border: 2px solid #dadee1;
    grid-template-columns: auto 3rem;
    gap: 2px;
    background-color: #dadee1;
  }
  .mobile-menu form input[type=text] {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 1rem;
    color: #414141;
    width: 100%;
  }
  .mobile-menu form button {
    border: none;
    outline: none;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu form button i {
    font-size: 1rem;
  }
  .mobile-menu .icon-text .single {
    width: 100%;
    display: grid;
    grid-template-columns: 65px auto;
    margin-bottom: 1rem;
  }
  .mobile-menu .icon-text .single i {
    font-size: 2.5rem;
    color: #65c979;
  }
  .mobile-menu .icon-text .single i#location {
    font-size: 3.5rem;
  }
  .mobile-menu .icon-text .single .texts {
    color: #001d3d;
  }
  .mobile-menu .icon-text .single .texts span {
    font-weight: 400;
    font-size: 1rem;
  }
  .mobile-menu .icon-text .single .texts p {
    font-family: "Playfair Display", serif;
    font-size: 1.65rem;
    line-height: 100%;
  }
  .mobile-menu a.appointment {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #65c979;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.25s ease;
  }
  .mobile-menu a.appointment i {
    margin-left: 0.75rem;
    transition: 0.25s ease;
  }
  .mobile-menu a.appointment:hover {
    background-color: #001d3d;
    color: #ffffff;
  }
  .mobile-menu a.appointment:hover i {
    transform: translateX(0.5rem);
    color: #ffffff;
  }
  .mobile-menu nav {
    display: block;
  }
  .mobile-menu nav ul {
    list-style-type: none;
  }
  .mobile-menu nav ul li {
    width: 100%;
  }
  .mobile-menu nav ul li a {
    display: block;
    font-weight: 400;
    font-size: 1.25rem;
    text-decoration: none;
    color: #414141;
    padding: 1rem 0;
    border-bottom: 1px solid #b1b1b1;
  }
  .mobile-menu nav ul li a:not(:only-child) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu nav ul li a:not(:only-child):after {
    content: " ▼";
    font-size: 0.85rem;
  }
  .mobile-menu nav ul li ul {
    padding-left: 2rem;
    overflow-y: hidden;
    max-height: 0;
    height: 0;
    transition: max-height 0.2s ease;
  }
  .mobile-menu nav ul li ul.open {
    height: -moz-fit-content;
    height: fit-content;
    transition: max-height 0.2s ease;
  }
}

main.page-content {
  min-height: 400px;
  width: 100%;
}

footer {
  width: 100%;
  background-color: #eef0f2;
  margin-top: -4px;
}
footer .inner-container {
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: 3fr 3fr 2fr;
}
@media (max-width: 1400px) {
  footer .inner-container {
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1400px) {
  footer .inner-container {
    gap: 1.5rem;
  }
}
@media (max-width: 900px) {
  footer .inner-container {
    grid-template-columns: 1fr;
  }
}
footer .inner-container .spacer-0 {
  height: 2rem;
}
footer .inner-container h3 {
  font-size: 2.5rem;
  color: #001d3d;
  font-family: "Playfair Display", serif;
}
@media (max-width: 1400px) {
  footer .inner-container h3 {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  footer .inner-container .col-1 {
    margin-bottom: 2rem;
  }
}
footer .inner-container .col-1 img {
  width: 100%;
  max-width: 30rem;
}
footer .inner-container .col-1 .spacer-1 {
  height: 1rem;
}
footer .inner-container .col-1 .spacer-2 {
  height: 3rem;
}
footer .inner-container .col-1 p.about-content {
  font-size: 1.25rem;
  color: #001d3d;
}
@media (max-width: 1400px) {
  footer .inner-container .col-1 p.about-content {
    font-size: 1rem;
  }
}
footer .inner-container .col-1 a#anchor {
  padding: 1rem 2rem;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #65c979;
  color: #001d3d;
  font-weight: bold;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: 0.25s ease;
}
footer .inner-container .col-1 a#anchor:hover {
  background-color: #001d3d;
  color: #65c979;
}
footer .inner-container .col-2 .blog-card {
  display: grid;
  grid-template-columns: 8rem auto;
  gap: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 1400px) {
  footer .inner-container .col-2 .blog-card {
    gap: 0.5rem;
  }
}
@media (max-width: 480px) {
  footer .inner-container .col-2 .blog-card {
    grid-template-columns: 4rem auto;
  }
}
footer .inner-container .col-2 .blog-card img {
  width: 100%;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1rem;
}
footer .inner-container .col-2 .blog-card a {
  font-weight: 400;
  font-size: 1.25rem;
  color: #1b1f24;
  font-weight: bold;
  padding: 0.25rem;
}
footer .inner-container .col-3 .contact-icon {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2rem auto;
  gap: 1rem;
}
@media (max-width: 1400px) {
  footer .inner-container .col-3 .contact-icon {
    gap: 0.25rem;
  }
}
footer .inner-container .col-3 .contact-icon i {
  color: #65c979;
  font-size: 1.5rem;
}
footer .inner-container .col-3 .contact-icon p {
  font-weight: 400;
  font-size: 1.25rem;
  color: #1b1f24;
}
footer .inner-container .col-3 h4 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  color: #001d3d;
  margin-bottom: 1rem;
}
@media (max-width: 1400px) {
  footer .inner-container .col-3 h4 {
    font-size: 1.5rem;
  }
}
footer .inner-container .col-3 .open-hours {
  color: #1b1f24;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

section.credit {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1f24;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.25rem;
}
section.credit span {
  color: #65c979;
}
@media (max-width: 480px) {
  section.credit {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

section.hero-area {
  margin-top: -5rem;
  padding-top: 5rem;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 1400px) {
  section.hero-area {
    margin-top: 0rem;
    padding-top: 0rem;
    height: 300px;
  }
}
section.hero-area h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.1;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  z-index: 10;
}
@media (max-width: 900px) {
  section.hero-area h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 480px) {
  section.hero-area h1 {
    font-size: 2.5rem;
  }
}
section.hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.contact-details {
  width: 100%;
  background-color: #ffffff;
}
.contact-details .inner-container {
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
@media (max-width: 1400px) {
  .contact-details .inner-container {
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.contact-details .inner-container .details {
  width: 100%;
}
.contact-details .inner-container .details .intro {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-details .inner-container .details .intro hr {
  border: none;
  border-bottom: 4px solid #65c979;
  width: 4rem;
}
.contact-details .inner-container .details .intro .section-intro {
  color: #1b1f24;
  font-weight: 400;
  font-size: 1.25rem;
}
.contact-details .inner-container .spacer-1 {
  height: 1rem;
}
.contact-details .inner-container h2 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #1b1f24;
}
@media (max-width: 900px) {
  .contact-details .inner-container h2 {
    font-size: 2.75rem;
  }
}
@media (max-width: 480px) {
  .contact-details .inner-container h2 {
    font-size: 2.25rem;
  }
}
.contact-details .inner-container h2 span {
  color: #65c979;
}
.contact-details .inner-container .spacer-2 {
  height: 3rem;
}
.contact-details .inner-container .icon-details {
  width: 100%;
}
.contact-details .inner-container .icon-details .spacer-3 {
  height: 3rem;
}
.contact-details .inner-container .icon-details .single {
  display: grid;
  grid-template-columns: 5rem auto;
  gap: 3rem;
  max-width: 500px;
}
.contact-details .inner-container .icon-details .single .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  border-radius: 100%;
  background-color: #65c979;
}
.contact-details .inner-container .icon-details .single .icon-container i {
  font-size: 1.75rem;
  color: #ffffff;
  transition: 0.25s ease;
}
.contact-details .inner-container .icon-details .single .icon-container:hover i {
  font-size: 2.25rem;
  transition: 0.25s ease;
}
.contact-details .inner-container .icon-details .single .texts {
  margin-top: 0.5rem;
}
.contact-details .inner-container .icon-details .single .texts span {
  font-size: 2rem;
  font-weight: bold;
  color: #1b1f24;
}
.contact-details .inner-container .icon-details .single .texts p {
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 1.25rem;
  color: #414141;
}
.contact-details .inner-container .form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 3.5rem;
  padding: 2rem;
  background-color: #1b1f24;
  color: #ffffff;
  border-radius: 1rem;
}
@media (max-width: 900px) {
  .contact-details .inner-container .form {
    font-size: 2.75rem;
  }
}
@media (max-width: 480px) {
  .contact-details .inner-container .form {
    font-size: 2.25rem;
  }
}

.google-map {
  margin: 0 !important;
  width: 100%;
}
.google-map iframe {
  width: 100%;
  height: 500px;
  margin: 0 !important;
}

section.news-media-content {
  width: 100%;
  background-color: #ffffff;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
section.news-media-content .inner-container {
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 4rem;
}
@media (max-width: 1400px) {
  section.news-media-content .inner-container {
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
section.news-media-content .inner-container .sidebar {
  position: sticky;
  top: 0;
}
section.news-media-content .inner-container .sidebar .sidebar-content h3 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  color: #001d3d;
  margin-bottom: 1rem;
}
@media (max-width: 1400px) {
  section.news-media-content .inner-container .sidebar .sidebar-content h3 {
    font-size: 1.5rem;
  }
}
section.news-media-content .inner-container .sidebar .sidebar-content hr {
  border: 0;
  border-bottom: 4px solid #65c979;
  width: 50px;
}
section.news-media-content .inner-container .sidebar .sidebar-content .spacer-1 {
  height: 2rem;
}
section.news-media-content .inner-container .sidebar .sidebar-content .spacer-2 {
  height: 4rem;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.services-link {
  list-style-type: none;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.services-link li {
  display: block;
  width: 100%;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.services-link li a {
  display: block;
  color: #1b1f24;
  font-weight: 400;
  font-size: 1.25rem;
  text-decoration: none;
  border-bottom: 1px solid #dadee1;
  padding: 1.5rem 0;
  transform: translateX(0px);
  transition: 0.25s ease;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.services-link li a i {
  margin-right: 1rem;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.services-link li a:hover {
  color: #65c979;
  transform: translateX(10px);
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.recent-news {
  list-style-type: none;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.recent-news li {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.recent-news li a {
  display: grid;
  grid-template-columns: 75px auto;
  gap: 1rem;
  text-decoration: none;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.recent-news li a img {
  width: 100%;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 100%;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.recent-news li a .texts p {
  font-weight: 400;
  font-size: 1.25rem;
  color: #414141;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: 0.25s ease;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.recent-news li a .texts p:hover {
  color: #b1b1b1;
}
section.news-media-content .inner-container .sidebar .sidebar-content ul.recent-news li a .texts span {
  font-weight: 400;
  font-size: 1rem;
  color: #b1b1b1;
}
section.news-media-content .inner-container .news div.single-blog {
  margin-bottom: 4rem;
  height: 400px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
section.news-media-content .inner-container .news div.single-blog .featured-image {
  position: relative;
  display: inline-block; /* change the default display type to inline-block */
  overflow: hidden; /* hide the overflow */
}
section.news-media-content .inner-container .news div.single-blog .featured-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem 0 0 0.5rem;
}
section.news-media-content .inner-container .news div.single-blog .featured-image img.active {
  animation: rotater 1s forwards;
  animation-timing-function: ease-in-out;
}
section.news-media-content .inner-container .news div.single-blog .featured-image img.in-active {
  animation-direction: reverse;
}
section.news-media-content .inner-container .news div.single-blog .featured-image .calender {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
section.news-media-content .inner-container .news div.single-blog .featured-image .calender div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
}
section.news-media-content .inner-container .news div.single-blog .featured-image .calender .day {
  height: 3.5rem;
  font-weight: 400;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #65c979;
}
section.news-media-content .inner-container .news div.single-blog .featured-image .calender .month-year {
  height: 2.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  background-color: #001d3d;
}
section.news-media-content .inner-container .news div.single-blog .text-contents {
  width: 100%;
  padding: 2rem;
}
section.news-media-content .inner-container .news div.single-blog .text-contents h3 {
  font-size: 2rem;
  color: #1b1f24;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
section.news-media-content .inner-container .news div.single-blog .text-contents .user-comment {
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
section.news-media-content .inner-container .news div.single-blog .text-contents .user-comment a {
  text-decoration: none;
  color: #b1b1b1;
}
section.news-media-content .inner-container .news div.single-blog .text-contents p.excerpt {
  font-weight: 400;
  font-size: 1.25rem;
  color: #414141;
  margin-bottom: 2rem;
}
section.news-media-content .inner-container .news div.single-blog .text-contents a.read-more {
  color: #1b1f24;
  font-weight: 400;
  font-size: 1.25rem;
  text-decoration: none;
  transition: 0.25s ease;
}
section.news-media-content .inner-container .news div.single-blog .text-contents a.read-more i {
  margin-right: 0.5rem;
}
section.news-media-content .inner-container .news div.single-blog .text-contents a.read-more:hover {
  color: #414141;
}/*# sourceMappingURL=main.css.map */